@model SimpleCrud.Models.EditUserModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <label for="FirstName">Name</label>
        @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="form-group">
        <label for="IsActive">Is Active?</label>
        @Html.EditorFor(m => m.IsActive, new { @class = "form-control" })
    </div>

    <input type="submit" class="btn btn-success" value="Save" />


    <a href="@Url.Action("Delete", new { Model.Id })" class="btn btn-danger">Delete User</a>
       
}

