@using SimpleCrud.Entities
@using SimpleCrud.Models

<a href="@Url.Action("Add")" class="btn btn-primary" style="margin-top: 10px;">Add User</a>

@model IList<UserModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name n Last Name</th>
            <th>Age in Hours</th>
            <th>Is Active?</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr class="bg-default">
                <td><a href="@Url.Action("Edit", new { user.Id })" class="btn btn-success">Edit User</a></td>
                <td>@user.FullName</td>
                <td>@user.Age</td>
                <td>@user.IsActiveAsString</td>
            </tr>
        }
    </tbody>
</table>